In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
df = pd.read_csv('Cleaned_salary.csv')

In [3]:
df.drop('Unnamed: 0',axis=1,inplace=True)
df.head()

,Jobs,Companies,Locations,Salaries,Summaries
0,"Student - Data Officer, Community Planning",Moonee Valley City Council,Melbourne VIC,339000.0,"Student Data Officer, Community Planning Refer..."
1,Solutions Architect,Pythian,Sydney NSW,165000.0,Job Summary Why Pythian? Pythian is a global I...
2,"Manager, Insights",State Trustees Limited,Melbourne VIC,116647.0,Located at our Head Office in Footscray (10 mi...
3,PhD Scholarship – Big Data Analytics for Oil D...,Swinburne University of Technology,Melbourne VIC,25849.0,"Faculty of Science, Engineering and Technology..."
4,STRUCTURAL TECHNOLOGY SPECIALIST,VicRoads,Kew East VIC,118388.5,About VicRoads Victoria has embarked on a once...

In [4]:
median_salary = 92667
median_salary

92667

In [5]:
df['high_salary'] = [1 if i > median_salary else 0 for i in df.Salaries]

In [6]:
df.head()

,Jobs,Companies,Locations,Salaries,Summaries,high_salary
0,"Student - Data Officer, Community Planning",Moonee Valley City Council,Melbourne VIC,339000.0,"Student Data Officer, Community Planning Refer...",1
1,Solutions Architect,Pythian,Sydney NSW,165000.0,Job Summary Why Pythian? Pythian is a global I...,1
2,"Manager, Insights",State Trustees Limited,Melbourne VIC,116647.0,Located at our Head Office in Footscray (10 mi...,1
3,PhD Scholarship – Big Data Analytics for Oil D...,Swinburne University of Technology,Melbourne VIC,25849.0,"Faculty of Science, Engineering and Technology...",0
4,STRUCTURAL TECHNOLOGY SPECIALIST,VicRoads,Kew East VIC,118388.5,About VicRoads Victoria has embarked on a once...,1

In [7]:
from sklearn.model_selection import cross_val_score, StratifiedKFold, train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, ExtraTreesClassifier, BaggingClassifier, AdaBoostClassifier, GradientBoostingClassifier
from sklearn.metrics import accuracy_score

In [8]:
df.Locations.value_counts()[0:10]

Sydney NSW                              255
Melbourne VIC                           103
Brisbane QLD                             42
Australia                                32
Sydney Central Business District NSW     29
Canberra ACT                             26
Melbourne City Centre VIC                23
Parkville VIC                            12
Perth WA                                 12
Adelaide SA                              12
Name: Locations, dtype: int64

In [9]:
df.Locations.unique()

array(['Melbourne VIC', 'Sydney NSW', 'Kew East VIC', 'Hobart TAS',
       'Macquarie University NSW', 'Crawley WA',
       'Melbourne City Centre VIC', 'Toowoomba QLD', 'Clayton VIC',
       'Clare SA', 'Brisbane QLD', 'Australia', 'Springfield QLD',
       'Canberra ACT', 'North Sydney NSW', 'Caulfield VIC',
       'Parkville VIC', 'Adelaide SA', 'Kensington NSW', 'Queensland',
       'Casuarina NT', 'Victoria', 'Nedlands WA', 'Broadway NSW',
       'Angle Park SA', 'Perth Central Business District WA',
       'Sydney Central Business District NSW', 'Perth WA', 'St Lucia QLD',
       'Newington NSW', 'Chester Hill NSW', 'Mackay QLD', 'Townsville QLD',
       'Cairns QLD', 'Ballarat VIC', 'New South Wales',
       'Melbourne Northern Suburbs VIC', 'Mernda VIC', 'Craigieburn VIC',
       'Edgecliff NSW', 'Thomastown VIC', 'Tewantin QLD',
       'City of Boroondara VIC', 'Paddington NSW', 'Fishermans Bend VIC',
       'Macquarie Park NSW', 'Albury NSW', 'Mitcham VIC', 'Ballina NSW',
       'Mittagong NSW', 'Mandurah WA', 'Central West NSW',
       'Highgate Hill QLD', 'Sydney Western Suburbs NSW',
       'Western Shaw WA', 'Gold Coast QLD', 'Double Bay NSW',
       'Buddina QLD', 'Karratha WA', 'Parramatta NSW',
       'Frenchs Forest NSW', 'Surry Hills NSW', 'South Yarra VIC',
       'Docklands VIC', 'Moranbah QLD', 'Dubbo NSW', 'North Ryde NSW',
       'Adelaide Bc SA', 'Milton QLD', 'Geelong VIC', 'Russell ACT',
       'Armstrong VIC', 'West Melbourne VIC', 'Rosny TAS', 'Darebin VIC',
       'Illawarra NSW', 'Northern Beaches NSW',
       'Brisbane Central Business District QLD', 'Rockhampton QLD',
       'Southbank VIC', 'Silverwater NSW', 'Mascot NSW', 'Merrylands NSW',
       'Mount Waverley VIC', 'Tasmania', 'Broome WA', 'Greenwich NSW',
       'Chippendale NSW', 'Cottesloe WA', 'Ultimo NSW', 'Richmond VIC',
       'Melbourne Eastern Suburbs VIC', 'Smeaton Grange NSW',
       'Castle Hill NSW'], dtype=object)

In [10]:
for loc in df.Locations:
    df['States'] = 'NA'

In [11]:
df.head()

,Jobs,Companies,Locations,Salaries,Summaries,high_salary,States
0,"Student - Data Officer, Community Planning",Moonee Valley City Council,Melbourne VIC,339000.0,"Student Data Officer, Community Planning Refer...",1,NA
1,Solutions Architect,Pythian,Sydney NSW,165000.0,Job Summary Why Pythian? Pythian is a global I...,1,NA
2,"Manager, Insights",State Trustees Limited,Melbourne VIC,116647.0,Located at our Head Office in Footscray (10 mi...,1,NA
3,PhD Scholarship – Big Data Analytics for Oil D...,Swinburne University of Technology,Melbourne VIC,25849.0,"Faculty of Science, Engineering and Technology...",0,NA
4,STRUCTURAL TECHNOLOGY SPECIALIST,VicRoads,Kew East VIC,118388.5,About VicRoads Victoria has embarked on a once...,1,NA

In [12]:
state = ['NSW', 'VIC', 'QLD','ACT','WA', 'TAS', 'SA','Victoria', 'Tasmania', 'Queensland','Australia', 'NT', 'New South Wales']

In [13]:
for s in state:
    a = df[df.Locations.str.contains(s)].index
    df.iloc[a,6] = s

In [14]:
df.head()

,Jobs,Companies,Locations,Salaries,Summaries,high_salary,States
0,"Student - Data Officer, Community Planning",Moonee Valley City Council,Melbourne VIC,339000.0,"Student Data Officer, Community Planning Refer...",1,VIC
1,Solutions Architect,Pythian,Sydney NSW,165000.0,Job Summary Why Pythian? Pythian is a global I...,1,NSW
2,"Manager, Insights",State Trustees Limited,Melbourne VIC,116647.0,Located at our Head Office in Footscray (10 mi...,1,VIC
3,PhD Scholarship – Big Data Analytics for Oil D...,Swinburne University of Technology,Melbourne VIC,25849.0,"Faculty of Science, Engineering and Technology...",0,VIC
4,STRUCTURAL TECHNOLOGY SPECIALIST,VicRoads,Kew East VIC,118388.5,About VicRoads Victoria has embarked on a once...,1,VIC

In [15]:
a = df[df.Locations.str.contains('Tasmania')].index
df.iloc[a,6] = 'TAS'

In [16]:
df.States.value_counts()

NSW                355
VIC                172
QLD                 65
Australia           32
WA                  30
ACT                 27
SA                  17
TAS                 11
New South Wales      7
Victoria             6
Queensland           4
NT                   2
Name: States, dtype: int64

In [17]:
for loc in df.Locations:
    df['Cities'] = 'NA'

In [18]:
for s in state:
    a = df[df.Locations.str.contains(s)].index
    if df.iloc[a,2].all() == s:
        df.iloc[a,7] = 'No City'
    else:
        b = df.Locations.str.replace(s, '')
        df.iloc[a,7] = b

In [19]:
df.Cities.value_counts()[0:10]

Sydney                               255
Melbourne                            103
No City                               50
Brisbane                              42
Sydney Central Business District      29
Canberra                              26
Melbourne City Centre                 23
Perth                                 12
Adelaide                              12
Parkville                             12
Name: Cities, dtype: int64

In [20]:
df['City'] = df.Cities + ", " + df.States

In [21]:
df.drop(['States','Cities'], axis=1, inplace=True)

In [22]:
df.head()

,Jobs,Companies,Locations,Salaries,Summaries,high_salary,City
0,"Student - Data Officer, Community Planning",Moonee Valley City Council,Melbourne VIC,339000.0,"Student Data Officer, Community Planning Refer...",1,"Melbourne , VIC"
1,Solutions Architect,Pythian,Sydney NSW,165000.0,Job Summary Why Pythian? Pythian is a global I...,1,"Sydney , NSW"
2,"Manager, Insights",State Trustees Limited,Melbourne VIC,116647.0,Located at our Head Office in Footscray (10 mi...,1,"Melbourne , VIC"
3,PhD Scholarship – Big Data Analytics for Oil D...,Swinburne University of Technology,Melbourne VIC,25849.0,"Faculty of Science, Engineering and Technology...",0,"Melbourne , VIC"
4,STRUCTURAL TECHNOLOGY SPECIALIST,VicRoads,Kew East VIC,118388.5,About VicRoads Victoria has embarked on a once...,1,"Kew East , VIC"

In [23]:
city_dummies = pd.get_dummies(df.City)

X_city = city_dummies
y_city = df.high_salary

In [24]:
X_train, X_test, y_train, y_test = train_test_split(X_city, y_city, test_size=0.3, random_state=90)

In [25]:
rfc = RandomForestClassifier(n_estimators=300, random_state=90)
rfc.fit(X_train, y_train)

rfc_pred = rfc.predict(X_test)
acc = accuracy_score(y_test, rfc_pred)
print("Accuracy Score:", acc.round(3))

s = cross_val_score(rfc, X_city, y_city, cv=10, n_jobs=-1)
print("Cross Validation Score:\t{:0.3} ± {:0.3}".format(s.mean().round(3), s.std().round(3)))

Accuracy Score: 0.699
Cross Validation Score:	0.661 ± 0.024

In [26]:
feature_importances = pd.DataFrame(rfc.feature_importances_,
                                   index = X_city.columns).reset_index()
feature_importances.columns = ['feature', 'importance']

feature_medians = []
for i in X_city.columns:
    feature_medians.append(np.median(df[df.City == i].Salaries))

feature_importances['median_salary'] = feature_medians
feature_importances['over_or_under'] = [1 if i > median_salary else 0 for i in feature_importances.median_salary]

feature_importances.sort_values('importance', ascending=False).head(15)

                     feature  importance  median_salary  over_or_under
84              Sydney , NSW    0.113798       120000.0              1
37              Hobart , TAS    0.041932        85500.0              0
42              Mackay , QLD    0.037751        66500.0              0
70          Parramatta , NSW    0.027646       700000.0              1
5             Ballarat , VIC    0.026841        80000.0              0
53              Milton , QLD    0.026804        88750.0              0
30           Edgecliff , NSW    0.023790        61250.0              0
22             Clayton , VIC    0.022801        71789.5              0
69           Parkville , VIC    0.021691        81489.0              0
0              Adelaide , SA    0.017540        82933.0              0
47           Melbourne , VIC    0.016465       100000.0              1
71                Perth , WA    0.016167        95750.0              1
82            St Lucia , QLD    0.014916        84540.0              0
61  No City, New South Wales    0.014798       718750.0              1
16           Caulfield , VIC    0.014556       104231.5              1

In [27]:
df.to_csv('Cleaned_City.csv')